.custom-card {
    width: 150px;
    flex-grow: 1;
    margin: 10px;
    max-width: 200px;
}


/* .bg-info {
    background-color: #0C6EFD !important;
} */

.custom-card:active {
    background-color: #0c6cfdb8;
}

.custom-card:hover {
    background-color: #0c6cfdb8;
}

.clearfix {
    display: table;
    content: "";
    clear: both;
}

::-webkit-scrollbar {
    width: 8px;
    height: 10px;
    background: #82b4ff8f;
    border-radius: 8px;
}

 ::-webkit-scrollbar-thumb {
    border-radius: 8px;
    background-color: #5084B9;
}

#card {
    /* width: fit-content; */
    width: 400px;
    margin: 0 auto;
}